.modal {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: var(--secondary-color);
	transition: opacity .2s ease-in-out;

	&--open {
		opacity: 1;
		pointer-events: all;
	}

	h1 {
		position: absolute;
		font-size: 68px;
		color: var(--primary-color);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	button {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}

